/* CSS Document */

#userField, 
#messageField,
#send {
	width: 100%;
	border-radius: 5px; 
}

.message input,
.message textarea {
	border: 1px solid $blue;
	border-radius: 20px;
	box-shadow: 2px 2px 5px 5px $mint;
	margin-bottom: 10px;
	padding: 10px;
}

.message textarea {
	height: 140px;
}

#send {
	background-color: #dfffd6;
	color: white;
	margin-top: auto;
	@include button; 
}