/* CSS Document */

.social-media-info {
	display: flex; 
	flex-direction: column;
	margin-top: 20px;
}

.some-container {
	display: flex; 
	flex-direction: row;
	border: 1px solid $peach;
	padding: 5px;
}

.some-text {
	padding: 5px; 
	margin: auto;
}

